*~
x86_64
/Brian/wangbuzsaki.dat
/Brian/WangBuzsaki.pyc
/NEURON/wangbuzsaki.dat
NeuroML2/../*.dat
NeuroML2/../*.hoc
NeuroML2/../*.mod
NeuroML2/../*nrn.py
/NeuroML2/LEMS_ComponentType/LEMS_iv_wb1.xml
/NeuroML2/LEMS_ComponentType/iv_wb1.net.nml
/NeuroML2/LEMS_ComponentType/iv_wb1.v.dat

